<div class="container text-success p-3">
    <div class="row h-100">
        <div class="col my-auto">
            <h1 class="font-weight-bold text-center fresh">Create a New Post !</h1>
        </div>
    </div>
</div>

<div class="container">
    <form action="/users/new/post" method="post" id="post">
        <div class="form-group">
            <label for="exampleFormControlInput1">Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Content</label>
            <textarea class="form-control" id="body" name="body" rows="9"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2 save">Save</button>
    </form>
</div>