<div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center userName">{{userName}}</h1>
        </div>
    </div>
    <div class="container">
            <div class="row">
              <div class="col-9">
                  <ul class="list-group list-group-flush"> 
                      <li class="list-group-item">
                      <div class="card" style="width: 100%;">
                            <div class="card-body">
                              <h5 class="card-title">Bio</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="card-link">Card link</a>
                              <a href="#" class="card-link">Another link</a>
                            </div>
                          </div> 
                  </li>
                        
                  </ul>
                      
              </div>
              <div class="col-3">
                  <div class="row">
                        <div class="card bio-card" style="width: 18rem;">
                                <img class="card-img-top profile" src="https://static.addtoany.com/images/dracaena-cinnabari.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">Bio</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="card-link">Card link</a>
                                  <a href="#" class="card-link">Another link</a>
                                </div>
                            </div>
                  </div>
                <div class="row">
                        <div class="card blog-card" style="width: 18rem;">
                                <h5> My Blogs </h5>
                                <a href="/post" class="card-link">New Post</a>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Cras justo odio</li>
                                  <li class="list-group-item">Dapibus ac facilisis in</li>
                                  <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                              </div>
                </div>
              </div>
            </div>
          </div>